body{
    background-color: black;
    color:white;
}
.field{
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    max-width: 400px;
    height: 30px;

}
.field input{
    height: 100%;
    width: 70%;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    
}
.field button{
    height: 120%;
    width: 25%;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    padding-bottom: 40px;
}
#wrong_length{
    color:rgb(241, 76, 76);
    font-size:30px;
}

#monitor{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    max-width: 900px;
}

#monitor img{
    width:100%;
}


#monitor ol{
    position: absolute;
    top:8%;
    color: green;
    left:12%;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    line-height: 2em;
}

#monitor p{
    position: absolute;
    bottom:10px;
}

#list div{
    margin-left:15%
}

@media (max-width:768px){
    #monitor ol{
        font-size: 15px;
    }
}

@media (max-width:625px){
    #monitor ol{
        font-size: 13px;
    }
}

@media (max-width:514px){
    #monitor ol{
        font-size: 10px;
    }
}
@media (max-width:425px){
    #monitor ol{
        font-size: 8px;
    }
    #list div{
        margin-left: 10%;
    }
}
@media (max-width:320px){
    #monitor ol{
        font-size: 6px;
    }
    #list div{
        margin-left: 5%;
    }
}